<%- include ('partials/header.ejs')%>

    <body>
        <%- include ('partials/navbar.ejs')%>
            <div class="container">
                    <div class="card mt-3">
                        <div class="card-header">
                            <h1>
                                <%= pergunta.titulo %>
                            </h1>
                        </div>
                        <div class="card-body">
                            <p><%= pergunta.descricao %></p>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" action="/reply">
                                <label for="corpo">Responda</label>
                                <textarea  name="corpo" class="form-control"></textarea>
                                <input type="hidden" value="<%= pergunta.id %>" name="pergunta"/>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit"> Responder </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

            </div>
    </body>
    <%- include ('partials/footer.ejs')%>